<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bigpotato.bigpotatogamesus.big_potato"
    android:installLocation="auto">
    <uses-feature android:glEsVersion="0x00020000" />
    <supports-screens
        android:largeScreens="false"
        android:largestWidthLimitDp="600"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="false" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application

        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:name="com.bigpotato.bigpotatogamesus.big_potato.main_menu.App">
        <activity android:name="com.bigpotato.bigpotatogamesus.big_potato.main_menu.Loader"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.bigpotato.bigpotatogamesus.big_potato.view_pager.Startup_activity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity
            android:name="com.bigpotato.bigpotatogamesus.big_potato.hompage.Home_page"
            android:label="@string/title_activity_games__list"

            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>


        <activity
            android:name="com.bigpotato.bigpotatogamesus.big_potato.bucket_of_doom.Bod_extra_cards"
            android:label="@string/title_activity_games__list"

            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.bigpotato.bigpotatogamesus.big_potato.bucket_of_doom.Bod_cards"
            android:label="@string/title_activity_games__list"

            android:screenOrientation="landscape"
            android:theme="@style/AppTheme">
        </activity>


        <activity
            android:name="com.bigpotato.bigpotatogamesus.big_potato.main_menu.Game_menu"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.bigpotato.bigpotatogamesus.big_potato.bucket_of_doom.Bod_scenario"
            android:screenOrientation="portrait"

            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name="com.bigpotato.bigpotatogamesus.big_potato.mr_lister.Mr_sound_effect"
            android:screenOrientation="portrait"

            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.bigpotato.bigpotatogamesus.big_potato.mr_lister.Mr_extra_cards"
            android:screenOrientation="portrait"

            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name="com.bigpotato.bigpotatogamesus.big_potato.webview.WebView_link"
            android:screenOrientation="portrait"

            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name="com.bigpotato.bigpotatogamesus.big_potato.scrawl.Raindoimzar"
            android:screenOrientation="portrait"

            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name="com.bigpotato.bigpotatogamesus.big_potato.obla.Obla_extra_cards"
            android:screenOrientation="portrait"

            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.bigpotato.bigpotatogamesus.big_potato.obla.Extra_card_pager"
            android:screenOrientation="landscape"

            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.bigpotato.bigpotatogamesus.big_potato.obla.Obla_timer"
            android:screenOrientation="portrait"

            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.bigpotato.bigpotatogamesus.big_potato.scrawl.Scrawl_stopwatch"
            android:screenOrientation="portrait"

            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name="com.bigpotato.bigpotatogamesus.big_potato.ok_play.Okplay_timer"
            android:screenOrientation="portrait"

            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.bigpotato.bigpotatogamesus.big_potato.chameleon.Cham_extra_cards"
            android:screenOrientation="portrait"

            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.bigpotato.bigpotatogamesus.big_potato.chameleon.Cham_cards"
            android:label="@string/title_activity_games__list"

            android:screenOrientation="landscape"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.bigpotato.bigpotatogamesus.big_potato.squirms.Squirms_extra_cards"
            android:label="@string/title_activity_games__list"

            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.bigpotato.bigpotatogamesus.big_potato.squirms.Squirms_cards"
            android:label="@string/title_activity_games__list"

            android:screenOrientation="landscape"
            android:theme="@style/AppTheme">
        </activity>



    </application>


</manifest>
