<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.poplify.bigpotato"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Loader"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".How_to_play_rainbow_1"
            android:label="@string/title_activity_how_to_play_rainbow_1"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".RainbowRage"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".all_games"
            android:label="@string/title_activity_all_games"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Games_List"
            android:label="@string/title_activity_games__list"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>
